@use "sass:math";

/* Sidebar navigation that collapses on mobile */
.collapsible-sidebar {
  @include desktop {
    max-height: none;
  }
  flex: 1;
  overflow: hidden;
  position: relative;

  &-title {
    font-size: 1em;
  @include desktop {
    font-size: $font-size-h4;
    width: 100%;
  }
    margin-top: 0;
    margin-bottom: 0;
    width: calc(100% - 1.5rem);
  }

  &-toggle {
    @include desktop { display: none; }
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border: 0;
    background: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;

    [dir="rtl"] & {
      left: 0;
      right: auto;
    }

    &-icon {
      display: none !important;
    }
  
    &[aria-expanded="false"] {
      .chevron-icon {
        display: inline-block !important;
      }
    }
    
    &[aria-expanded="true"] {
      .x-icon {
        display: inline-block !important;
      }
    }

    &:focus {
      outline: none;
      border: 1px solid $brand-color;
    }
  }

  &-body {
    @include desktop { display: block; }
    display: none;    
    margin-top: calc($padding / 2);
  }

  &[aria-expanded="true"] {
    max-height: none;

    .collapsible-sidebar-body {
      display: block;
    }
  }
}
